/*resets*/

* {
margin: 0;
padding: 0;

}


/*end resets*/

body{
     display: flex;
    flex-direction: column;
    align-items: center;
    background: #efefef;
   
}

/*head container styles*/


.head-container{
    margin:2em;
    background-color:white;
    width:500px;
   box-shadow: 5px 5px 5px #888888;
    
}

.head-container img{
    
    align-self: center;
    margin:1.5em;
    border:2px solid white;
    box-shadow: 0.5px 0.5px 5px #888888;
}


.heading h3{

    margin-left:1.5em;
    font-family: 'Muli', sans-serif;
    font-weight: bold;  

}
.heading h6{
    align-self: flex-start;
    margin: 0.5em 0 0 2.6em;
    font-family: 'Muli', sans-serif;
    
}

/*End head container styles*/

/*Reasoning paragraph styles */

.reason{
    
    display: flex;
    flex-direction: row;
    
}

.reason p{

    width:250px;
    word-wrap: break-word;
    margin: 1.6em 0 0 0;
    font-size:11px;
    font-family: 'Muli', sans-serif;
}

/*End Reason paragraph styles*/

/*Social Media icon group */

    .icons{

        margin:0 0 1em 2em;
    }

/*End Social Media icon group*/

/*Social Media hovers*/

 .fa-github:hover{


    font-size:16px;
}

.fa-behance:hover{

    font-size:16px;
}

.fa-linkedin:hover{

    font-size:16px;
}

/*End Social Media hovers*/

/*Fav styles*/

.favs{

    width:500px;
    background:white;
    align-self: center;
     box-shadow: 10px 10px 5px #888888;
   
}

.favs h3{

    text-align:center;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
}

/*End Fav styles*/

/*Games styles*/

.games{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width:500px;
    margin: 1em 0 0 0;
}

.games a:nth-child(2){

    margin:0 0 0 1em;
}

.games a:nth-child(3){

    margin:0 0 0 1em;
}

.games a:nth-child(4){

    margin:0 0 0 1em;
}
/*End Games styles*/

/*Games hover styles*/

.games img:hover:nth-child(1){

    height:110px;
}

.games img:hover:nth-child(2){

    height:110px;
}

.games img:hover:nth-child(3){

    height:110px;
}

.games img:hover:nth-child(4){

    height:110px;

/*End Games hover styles



